<div class="alert alert-success alert-dismissible fade show" role="alert">
    New dispatcher was successfully registered.
    Check this out on dispatchers table.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>